@font-face {
    font-family:'Poppins';
    src: url('./gg/poppins-v20-latin/poppins-v20-latin-regular.ttf');
}
h1{
    font-size: 64px;
    color:#1D3444;
    font-family:'Poppins';
}
h2{
    font-size: 48px;
    margin:0 auto;
    font-family:'Poppins';
    font-weight: bold;
}
h3{
    font-size: 36px;
    font-family:'Poppins';
}
h4{
    font-size: 24px;
    font-family:'Poppins';
    margin:0 auto;
}
p{
    font-size: 16px;
    font-family:'Poppins';
}
a{
    text-decoration: none;
    color:black;
    font-family:'Poppins';
}
.one a{
    color: #F58A07;
}
.one a::after{
    content: '\2192';   
}
.four a{
    color: #F58A07;
}
.four a::after{
    content: '\2192';  
}
.seven a{
    color: #F58A07;
}
.seven a::after{
    content: '\2192';
}
.headerheseg{
    margin:0 auto;
}
.row h4{
    flex-grow: 1;
}
.ondoo .col-2{
    background-color: #F58A07;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 10px;
    
}
body .col-2{
    padding: 0;
}
.uur{
    padding: 10px;
    background-color: #F58A07;
    border-radius: 20px;
    color:rgb(255, 255, 255);
}
.partner p{
    margin-top: 50px;
    color:#5B5B5B;
}
.row .main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none; 
  }
.neg{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: #DCEAF5;
}
.neg-content{
    display: flex; 
}
.neg-title-items{
padding: 100px 0px 0px 0px;
color: #063255;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    text-align: top;
    position: relative;
}
.row{
    display: flex;
    gap:20px
}
.col-2{
    width: calc(100%/2);
}
.col-3{
    width: calc(100%/3);
    padding: 10px;
}
.zurag{
    border-radius: 10%;
}
.service{
    padding: 3%;
    margin: 0 auto;
}
.two{
    background-color: #DCEAF5;
}
.four .container{
    background-color: #DCEAF5;
    border-radius: 5%;
    padding: 30px;
}
.seven{
    background-color:#DCEAF5;
    overflow: hidden;
}
.two .col-3{
    background-color: white;
    border-radius: 10%;
}
.seven .col-3{
    background-color: white;
    border-radius: 10%;
}
.ygaan{
    color:#F58A07;
    font-size: 36px;
    font-weight: bold;
}
img{
    border-radius: 10%;
    max-width: 100%;
}
.wix{
    background-image: url(./images/experience-image.png);
    background-size: 50%;
    max-width: 100%;
    background-color: #F58A07;
    background-repeat: no-repeat;
    height: 30vh;
}
.five .col-2{
    margin-left: 60%;
    margin-top: 100px;
    color:white;
    text-align: left;

}
.col-2 .buur{
    padding: 20px;
    background-color:white;
    border-radius: 20px;
    color:#F58A07;
    position: absolute;
}
.four h2{
    margin-top: 50px;
    margin-right: 50px;
}
.four p{
    margin-right: 50px;
}
.six h2{
    margin-top: 5x;

}
.three h2{
    margin-top: 50px;
}
.four .row li{
    border: ridge;
    padding: 4px;
    border-radius: 20px;
    margin: 0;
    list-style: none;
}
#pic{
    margin-left: 88%;
    position: absolute;
}

.four{
    position: relative;
}
.four .ribbon{
margin-left: 84%;
top: -19%;
position: absolute;
width: 200px;
}
.exp{
    position: relative;
}
.four .mix::after{
    content: '';
    position: absolute;
    inset: 0 65% 0% 0;
    background-color: #F58A07;
    border-radius: 50px 0 0 50px;
    mix-blend-mode: multiply;
    margin-top: 100px;
    margin-left: 100px;}
.four img{
    margin-top: 100px;
    margin-left: 100px;
}.three .mix::after{
    content: '';
    position: absolute;
    inset: 0 70% 0 0;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 60px 0 0 70px;
}
.corner-1::after{
    content: '';
    position: absolute;
    inset: 70% 98% 0 0;
    background-color: #F58A07;
    border-radius: 0px 20px 0px 0px;
}
.corner-2::after{
    content: '';
    position: absolute;
    inset: 0 0 30% 98%;
    background-color: #F58A07;
    border-radius: 20px 0px 0px 20px;
    margin-top: 30px;
}
footer{
    background-color:#063255 ;
    height: 400px;
    position: relative;
    color:white;
}
footer li{
    padding: 10px;
}
footer .col-4 a{
    color: white;
}
.col-4{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
 .none img{
    height: 521px;
    width: calc(100%);
}
.lol .mix::after{
    content: '';
    position: absolute;
    inset: 0 65% 0% 0;
    background-color: #F58A07;
    border-radius: 50px 0 0 50px;
    mix-blend-mode: multiply;
}
.lil .mix-1::after{
    content: '';
    position: absolute;
    inset: 70% -5% -5% 70%;
    background-color: #F58A07;
    border-radius: 20px;
    mix-blend-mode: multiply;
}

.lul .row{
 margin-top: 40px;
 margin-bottom: 100px;
}
.lol .mix-2::after{
    content: '';
    position: absolute;
    inset: 0 65% 0% 0;
    background-color: #F58A07;
    border-radius: 50px 0 0 50px;
    mix-blend-mode: multiply;}
.lul .mix-service1::after{
    content: '';
    position: absolute;
    inset: 23% 90%  60% -9%;
    background-color: #F58A07;
    mix-blend-mode: multiply;}
.lul .mix-service2::after{
    content: '';
    position: absolute;
    inset: 50% -9%  33% 90%;
    background-color: #F58A07;
    mix-blend-mode: multiply;}   
.lul .mix-service3::after{
    content: '';
    position: absolute;
    inset: 23% 90%  60% -9%;
    background-color: #F58A07;
    mix-blend-mode: multiply;} 
.lul .mix-service4::after{
    content: '';
    position: absolute;
    inset: 50% -9%  33% 90%;
    background-color: #F58A07;
    mix-blend-mode: multiply;} 
.lul .mix-service5::after{
    content: '';
    position: absolute;
    inset: 23% 90%  60% -9%;
    background-color: #F58A07;
    mix-blend-mode: multiply;} 
.col-6{
    background-color: #DCEAF5;
    padding: 10px;
    border-radius: 10%;
    margin: 10px;
    width: calc(100%/3);
}
.nine a{
    color:#F58A07;
}
.col-7{
    width: calc(100%/3);
    background-color: #DCEAF5;
    margin-bottom: 20px;
    border-radius: 10%;
    padding: 10px;
}
input{
    border-radius: 20px;
    padding: 20px 120px 20px 10px;
}
.row .main-nav1{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none; 
}
.row .main-nav1 a{
    color: white;
}
.contact1 li{
    list-style: none;
    margin: 10px;
}
.contact1 input{
    padding: 30px 350px 20px 10px;
    background-color: #DCEAF5;
}
.fire {
    margin-top: 100px;
    margin-bottom: 100px;
}
.four .app{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}